#!/usr/bin/env bash

DATA_PATH='{{ uptime_kuma_data_dir }}'
DATA_FILE='kuma.db'
BACKUP_DIR='{{ uptime_kuma_backup_dir }}'
DATE=$(date '+%Y-%m-%d')
BACKUP_FILE="$BACKUP_DIR/kuma-$DATE.sq3.bak"
BACKUP_RETENTION_DAYS='{{ uptime_kuma_backup_retention_days }}'

sqlite3 "$DATA_PATH/$DATA_FILE" ".backup $BACKUP_FILE"
gzip "$BACKUP_FILE"

find "$BACKUP_DIR" -mindepth 1 -mtime +"$BACKUP_RETENTION_DAYS" -delete
