{{ ansible_managed }}
[Unit]
Description=Uptime Kuma
After=network-online.target

[Service]
Type=simple
User={{ uptime_kuma_user }}
Group={{ uptime_kuma_user }}
PermissionsStartOnly=true
WorkingDirectory={{ uptime_kuma_src }}
{% for k, v in uptime_kuma_env_vars.items() -%}
Environment="{{ k }}={{ v }}"
{% endfor %}
ExecStart=/usr/bin/node server/server.js

KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target
